@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Quadratic Functions";
}

<div class="d-flex flex-wrap">
    <div class="col-12 col-md-3">
        <h2>Quadratic Functions</h2>
    </div>
    <div class="col-12 col-md-9 d-flex flex-column">
        <div class="d-flex flex-column align-items-center" id="top">
            <h4>Section Links</h4>
            <div class="d-flex justify-content-evenly">

            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <h4>Exercise Links</h4>
            <div class="d-flex flex-wrap justify-content-evenly">
                <a href="/Quadratic/Standard"  class='nav-link'>Standard Exercises</a>
            </div>
        </div>
        <div class='d-flex flex-column align-items-center mb-3'>
            <p class='col-10 col-md-8'>
                Quadratic functions involve equations or expressions of one or two variables 
                in which the variables are related by addition (or equivalently subtraction) and 
                one variable has a maximum power of 2 while the other has a maximum power of 1.  
                Generally, the variable <i>y</i> will be to the first power, and <i>x</i> will be 
                to the second power.
            </p>
        </div>
        <div class='d-flex flex-column align-items-center mb-3'>
            <h5>Examples</h5>
            <div><b>Standard</b>: <i>y</i> = <b class='text-danger'>a</b><i>x</i><sup>2</sup> + <b class='text-danger'>b</b><i>x</i> + <b class='text-danger'>c</b></div>
            <div><b>Factored</b>: <i>y</i> = <b class='text-danger'>a</b>(<i>x</i> - <b class='text-danger'>z<sub>1</sub></b>)(<i>x</i> - <b class='text-danger'>z<sub>2</sub></b>)</div>
            <div><b>Vertex</b>: <i>y</i> = <b class='text-danger'>a</b>(<i>x</i> - <b class='text-danger'>h</b>)<sup>2</sup> + <b class='text-danger'>k</b></div>
        </div>
        <div class='d-flex flex-column align-items-center mb-3'>
            <p class='col-10 col-md-8'>
                Each equation above contains an instance of <b class='text-danger'>a</b> - the leading 
                coefficient of the function.  This coefficient determines how quickly the function rises or 
                falls.  (If <b class='text-danger'>a</b> is positive, the function opens upward.  
                If <b class='text-danger'>a</b> is negative, the function opens downward.)  Beyond this, 
                each of the forms has its advantages.  In the Standard case, <b class='text-danger'>c</b> is 
                the <i>y</i>-intercept.  In the Factored case, <b class='text-danger'>z<sub>1</sub></b> 
                and <b class='text-danger'>z<sub>2</sub></b> are the zeroes, or roots, of the function.  In 
                the Vertex case, (<b class='text-danger'>h</b>, <b class='text-danger'>k</b>) are the 
                coordinates of the vertex of the function.
            </p>
        </div>
    </div>
</div>
