@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Linear Systems";
}

<div class="d-flex flex-wrap">
    <div class="col-12 col-md-3">
        <h2>Linear Systems</h2>
    </div>
    <div class="col-12 col-md-9 d-flex flex-column">
        <div class="d-flex flex-wrap justify-content-evenly">
            <a href="/Linear/Standard">Standard Exercises</a>
        </div>
        <p>
            Generally, linear systems involve equations or expressions of one or 
            two variables in which the variables are related by addition (or 
            equivalently subtraction) and each variable is of the first power.
        </p>
        <div class='d-flex flex-column align-items-center mb-3'>
            <h5>Examples</h5>
            <div><b>Slope-Intercept</b>: <i>y</i> = <b class='text-danger'>m</b><i>x</i> + <b class='text-danger'>b</b></div>
            <div><b>Standard</b>: <b class='text-danger'>A</b><i>x</i> + <b class='text-danger'>B</b><i>y</i> = <b class='text-danger'>C</b></div>
            <div><b>Point-Slope</b>: <i>y</i> - <b class='text-danger'>y<sub>1</sub></b> = <b class='text-danger'>m</b>(<i>x</i> - <b class='text-danger'>x<sub>1</sub></b>)</div>
            <div><b>Single Variable</b>: <b class='text-danger'>m<sub>1</sub></b><i>x</i> + <b class='text-danger'>b<sub>1</sub></b> = <b class='text-danger'>m<sub>2</sub></b><i>x</i> + <b class='text-danger'>b<sub>2</sub></b></div>
        </div>
        <div class='d-flex flex-column align-items-center mb-3'>
            <p class='col-10 col-md-8'>
                In the examples above, each instance of <b class='text-danger'>m</b> is the slope 
                of the given line.  Where present, <b class='text-danger'>b</b> is the <i>y</i>-intercept 
                of the given line.  Notice that in each case, the <i>x</i> and <i>y</i> variables are to the 
                first power and are related by just addition and subtraction.  In the Standard example, <b class='text-danger'>-<sup>A</sup>&frasl;<sub>B</sub></b> is 
                the slope, and <b class='text-danger'><sup>C</sup>&frasl;<sub>B</sub></b> is the <i>y</i>-intercept.
            </p>
        </div>
    </div>
</div>
