@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Linear Systems";
}

<div class="d-flex flex-wrap">
    <div class="col-12 col-md-3">
        <h2>Linear Systems</h2>
    </div>
    <div class="col-12 col-md-9 d-flex flex-column">
        <div class="d-flex flex-column align-items-center" id="top">
            <h4>Section Links</h4>
            <div class="d-flex justify-content-evenly">
                <a href="#slopeIntercept"  class='nav-link'>Slope-Intercept</a>
                <a href="#standard"  class='nav-link'>Standard</a>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center">
            <h4>Exercise Links</h4>
            <div class="d-flex flex-wrap justify-content-evenly">
                <a href="/Linear/Standard"  class='nav-link'>Standard Exercises</a>
                <a href="/Linear/WordProblems"  class='nav-link'>Word Problems</a>
            </div>
        </div>
        <div class='d-flex flex-column align-items-center mb-3'>
            <p class='col-10 col-md-8'>
                Generally, linear systems involve equations or expressions of one or 
                two variables in which the variables are related by addition (or 
                equivalently subtraction) and each variable is of the first power.
            </p>
        </div>
        <div class='d-flex flex-column align-items-center mb-3'>
            <h5>Examples</h5>
            <div><b>Slope-Intercept</b>: <i>y</i> = <b class='text-danger'>m</b><i>x</i> + <b class='text-danger'>b</b></div>
            <div><b>Standard</b>: <b class='text-danger'>A</b><i>x</i> + <b class='text-danger'>B</b><i>y</i> = <b class='text-danger'>C</b></div>
            <div><b>Point-Slope</b>: <i>y</i> - <b class='text-danger'>y<sub>1</sub></b> = <b class='text-danger'>m</b>(<i>x</i> - <b class='text-danger'>x<sub>1</sub></b>)</div>
            <div><b>Single Variable</b>: <b class='text-danger'>m<sub>1</sub></b><i>x</i> + <b class='text-danger'>b<sub>1</sub></b> = <b class='text-danger'>m<sub>2</sub></b><i>x</i> + <b class='text-danger'>b<sub>2</sub></b></div>
        </div>
        <div class='d-flex flex-column align-items-center mb-3'>
            <p class='col-10 col-md-8'>
                In the examples above, each instance of <b class='text-danger'>m</b> is the slope 
                of the given line.  Where present, <b class='text-danger'>b</b> is the <i>y</i>-intercept 
                of the given line.  Notice that in each case, the <i>x</i> and <i>y</i> variables are to the 
                first power and are related by just addition and subtraction.  In the Standard example, <b class='text-danger'>-<sup>A</sup>&frasl;<sub>B</sub></b> is 
                the slope, and <b class='text-danger'><sup>C</sup>&frasl;<sub>B</sub></b> is the <i>y</i>-intercept.
            </p>
        </div>
        <div class='d-flex flex-column align-items-center mb-3'>
            <div class='col-10 col-md-6'>
                <svg  version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox="-100 -100 200 200">
                    @for(int i = -80; i < 90; i += 10)
                    {
                        <line x1="@i" y1="-80" x2="@i" y2="80" stroke="black" stroke-width="0.75" />
                        <line y1="@i" x1="-80" y2="@i" x2="80" stroke="black" stroke-width="0.75" />
                    }
                    <line x1="-80" y1="50" x2="80" y2="-70" stroke="red" stroke-width="1.25" opacity="0.75" />
                    <line x1="-80" y1="0" x2="80" y2="0" stroke="black" stroke-width="1.5" opacity="0.95" />
                    <line y1="-80" x1="0" y2="80" x2="0" stroke="black" stroke-width="1.5" opacity="0.95" />
                </svg>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center mb-3">
            <p class='col-10 col-md-8'>
                In the above graph, each box is length 1, and the <i>x</i>-axis and <i>y</i>-axis are in bold.  
                Below are selected equations for this line.
            </p>
        </div>
        <div class='d-flex flex-column align-items-center mb-3 border-bottom border-dark pb-3'>
            <div class="col-10 col-md-8 d-flex flex-column align-items-center">
                <h5>Equations</h5>
                <div><b>Slope-Intercept</b>: <i>y</i> = <b class='text-danger'><sup>3</sup>&frasl;<sub>4</sub></b><i>x</i> + <b class='text-danger'>1</b></div>
                <div><b>Standard</b>: <b class='text-danger'>-3</b><i>x</i> + <b class='text-danger'>4</b><i>y</i> = <b class='text-danger'>4</b></div>
                <div><b>Standard</b>: <b class='text-danger'>6</b><i>x</i> - <b class='text-danger'>8</b><i>y</i> = <b class='text-danger'>-8</b></div>
                <div><b>Point-Slope</b>: <i>y</i> - <b class='text-danger'>1</b> = <b class='text-danger'><sup>3</sup>&frasl;<sub>4</sub></b>(<i>x</i> - <b class='text-danger'>0</b>)</div>
                <div><b>Point-Slope</b>: <i>y</i> - <b class='text-danger'>0</b> = <b class='text-danger'><sup>3</sup>&frasl;<sub>4</sub></b>(<i>x</i> - <b class='text-danger'><sup>4</sup>&frasl;<sub>3</sub></b>)</div>
                <div><b>Point-Slope</b>: <i>y</i> - <b class='text-danger'>4</b> = <b class='text-danger'><sup>3</sup>&frasl;<sub>4</sub></b>(<i>x</i> - <b class='text-danger'>4</b>)</div>
            </div> 
        </div>
        <div class='d-flex flex-column align-items-center mb-3 border-bottom border-dark pb-3'>
            <div class='d-flex flex-column align-items-center mb-3'>
                <div class="d-flex justify-content-between align-items-center col-10">
                    <h5 id='slopeIntercept'>Slope-Intercept</h5>
                    <a href='#top' class='nav-link'>Back to Top</a>
                </div>
                <p class='col-10 col-md-8'>
                    Slope-intercept form is perhaps the form with which people are most familiar.  As
                    with any equation, it is important to remember that <b>only things of the same type 
                    can be added, subtracted, or set equal</b>.  The implication of this is that in the 
                    equation <i>y</i> = <b class="text-danger">m</b><i>x</i> + <b class="text-danger">b</b>,
                    <b class="text-danger">b</b> must be of type <i>y</i> since it can be subtracted from 
                    both sides and does not contain another variable.  Moreover, <b class="text-danger">m</b><i>x</i> is
                    also of type <i>y</i> because it also is related to <i>y</i> by addition/subtraction/equality only.  
                    Since <i>x</i> is of type <i>x</i>, <b class="text-danger">m</b> is of type <sup><i>y</i></sup>
                    &frasl;<sub><i>x</i></sub>.
                </p>
            </div>
        </div>
        <div class='d-flex flex-column align-items-center mb-3 border-bottom border-dark pb-3'>
            <div class='d-flex flex-column align-items-center mb-3'>
                <div class="d-flex justify-content-between align-items-center col-10">
                    <h5 id='standard'>Standard</h5>
                    <a href='#top' class='nav-link'>Back to Top</a>
                </div>
                <p class='col-10 col-md-8'>
                    Standard form is a linear equation form that is popular for use in solving word problems.  In this 
                    form, <b class="text-danger">A</b><i>x</i> + <b class="text-danger">B</b><i>y</i> = <b class="text-danger">C</b>, 
                    <b class="text-danger">A</b> <i>must</i> be of the same type as variable <i>y</i>, and <b class="text-danger">B</b> <i>must</i> be 
                    of type <i>x</i>.  <b class="text-danger">C</b> <i>must</i> be of type <i>x</i>&sdot;<i>y</i>.  When word problems 
                    occur, you will generally have to solve a system of the following form.
                </p>
                <div class="d-flex flex-column align-items-center mb-3">
                    <div><b class="text-danger">A</b><i>x</i> + <b class="text-danger">B</b><i>y</i> = <b class="text-danger">C<sub>1</sub></b></div>
                    <div><i>x</i> + <i>y</i> = <b class="text-danger">C<sub>2</sub></b></div>
                </div>
                <p class="col-10 col-md-8">
                    Typically, you will be asked to solve for <i>x</i> or <i>y</i> in the equations above, and linear elimination is 
                    usually the most efficient process to accomplish this task.
                </p>
            </div>
        </div>
    </div>
</div>
