@model SimpleAlgebra.Models.StandardLine;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Linear: Standard Form Results";
}

<h2>Linear: Standard Form Results</h2>

<div>Successfully Reached the page!</div>
<div>@Model.messageLS1</div>
<div>@Model.messageLS2</div>
