@{
    ViewData["Title"] = "Simple Algebra";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        I will endeavor to continue building this site out with explanations and example problems 
        that will be helpful.  For now, it is pretty bare, but that will change.  The good news 
        is that no login is necessary!
    </p>
</div>
